<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="learningtest/org/apache/ibatis/dbcp.properties" />

	<typeAliases>
		<typeAlias type="learningtest.org.apache.ibatis.DbcpDataSourceFactory"
			alias="DBCP" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="DBCP">
				<property name="driverClassName" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
				<property name="initialSize" value="${initialSize}" />
				<property name="maxActive" value="${maxActive}" />
				<property name="maxIdle" value="10" />
				<property name="minIdle" value="0" />
				<property name="maxWait" value="100" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="learningtest/org/apache/ibatis/BlogMapper.xml" />
	</mappers>
</configuration>